.container {
    /* layout */
    display: flex;
    justify-content: center;
    width: 100%;
}

.wrapper {
    /* layout */
    width: min(90vw, 380px);
    padding: 1rem;
    aspect-ratio: 2 / 1;

    /* structure */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;

    overflow: hidden;
    text-align: center;

    /* shape */
    border: 0.4rem double var(--foreground);
    border-radius: 1rem;

    /* surface */
    background-color: var(--surface);
}

.name {
    /* typography */
    margin: 0;

    font-size: clamp(1.2rem, 2vw, 1.6rem);
    font-weight: bold;
}