.container{
  display: flex;
}

.button {
  color: red;
  font-size: 2rem;
}

.wrapper {
  width: 100%;
}

.activeWrapper {
  width: 100%;
}

.inactiveWrapper {
  visibility: hidden;
}

.item {
  background-color: yellow;
}

.activeItem {
  color: orange;
}

.inactiveItem {
  color: blue;
}