<div class='jumbotron'>
    <div class='row'>
        <div class='col-sm-4'>
            picture
        </div>

        <div class='col-sm-4'>
            <h1>About Trai Lynne</h1>
        </div>
    </div>
</div>